@model StatisticShowModel

@{
    ViewData["Title"] = "Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Statistics</h2>

<script>

     $().ready(function () {
        websocket = null;
        connect();
    });

    function connect() {
        var url = window.location.href.substring(5);
        webSocket = new WebSocket("wss" + url); //"wss://share.mikegerst.de/", "chat");

        webSocket.onopen = function () {
            console.log("connected");
            webSocket.send("register;@Model.itemid;0;downinfo");
            console.log("sent register");
        };


        webSocket.onmessage = function (evt) {
            var resp;
            try {
                resp = JSON.parse(evt.data);
            } catch (err) {
                console.log(evt);
                console.log(evt.data);
                console.log(err);
                return;
            }


            console.log(resp);

            if (resp.type != "info")
                return;

            if (window.config[@Model.id].data.labels > 1)
                window.config[@Model.id].data.labels[window.config.data[@Model.id].labels.length - 1] = "";
            window.config.data[@Model.id].labels.push(resp.stamp);
            window.config.data[@Model.id].datasets[0].data.push(resp.average);
            var x = window.@Html.Raw(@Model.id) ;
            x.update();
        };

    }
</script>

@Html.PartialAsync("_StatisticDiagram", Model)