.app-bar-menu li {
    list-style: none !important;
}

.app-bar-menu .item-header {
    text-align: center;
}

.app-bar-menu .item-separator {
    border-top: 1px solid white;
    margin: 10px 20px
}

.app-bar-expand-md {
    display: none !important;
}

.app-bar-expand-md > h3 {
    display:block;
    width:100%;
    text-align:center;
}


.form-group .text-muted {
    display: block;
    color: darkgray;
}

.listview.view-content, .listview.view-list {
    flex-flow: column !important;
}


.listview .text-muted {
    display: inline-block;
    width: 100px;
}

.form-container {
    width: 100%;
    max-width: 600px;
    border: 1px solid #00aff0;
    padding: 15px;
    margin: 0 auto;
    margin-top: 20px;
}

hr {
    background-color: #00aff0;
}

.navview .navview-menu li a:hover,
.navview .pull-button:hover {
    background-color: #00aff0 !important;
}

.navview-content > ul a {
    line-height: 2;
}

.navview-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

h1, h2 {
    padding-left: 16px;
    padding-right: 16px;
}



@media only screen and (max-width: 768px) {
    .form-container {
        width: 100%;
        border: 0;
    }

    .app-bar-expand-md {
        display: flex !important;
        display: webkit-box !important;
        display: ms-flexbox !important;
    }

    .navview-content {
        padding: 52px 10px;
    }

    .listview .caption {
        overflow: hidden;
    }

    .listview .text-muted {
        display: none !important;
    }

    h2 {
        font-size:1.2rem;
    }
}