@using ShareLoader.Models

@{
    ViewData["Title"] = "Alle Downloads";
}
@model List<DownloadGroup>

<ul class="h-menu bg-blue fg-white" data-role="ripple" data-ripple-target="li">
    <li><a asp-action="DeleteAll"><span class="mif-bin"></span> Alle löschen</a></li>
</ul>

<h1>Download-Übersicht</h1>

<table class="table dataTable" data-role="datatable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Items</th>
            <th>Fortschritt</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DownloadGroup group in Model)
        {
            <tr>
                <td><a asp-controller="Downloads" asp-action="Show" asp-route-id="@group.ID">@group.Name</a></td>
                <td>@group.Items.Where(i => i.State != DownloadItem.States.Waiting && i.State != DownloadItem.States.Downloading).Count()  /  @group.Items.Count</td>
                <td>&nbsp;</td>
            </tr>
        }
    </tbody>
</table>